/* ================= HEADER ================= */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.4s ease;
    z-index: 1000;
}

/* Головний контейнер */
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Логотип */
.logo {
    width: 130px;
    transition: 0.4s ease;
}

/* Навігація */
.nav {
    display: flex;
    align-items: center;
    gap: 35px; /* рівномірний відступ */
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

/* Підкреслення анімацією */
.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: orange;
    transition: 0.3s ease;
}

.nav a:hover::after {
    width: 100%;
}

/* Бургер */
.burger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* ===== ЕФЕКТ ШТОРКИ ===== */
.header.scrolled {
    background: rgba(31, 42, 31, 0.95);
    backdrop-filter: blur(8px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.header.scrolled .header-container {
    padding: 15px 40px;
}

.header.scrolled .logo {
    width: 95px;
}

@media (max-width: 768px) {

    .header-container {
        padding: 20px;
    }

    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(31, 42, 31, 0.98);
        flex-direction: column;
        padding: 25px 0;
        display: none;
    }

    .nav a {
        margin: 15px 0;
    }

    .nav.active {
        display: flex;
    }

    .burger {
        display: block;
    }
}
