/* Загальні */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* HERO */
.hero {
    height: 100vh;
    background: url("images/logo-removebg-preview.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    position: relative;
}

/* затемнення */
.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
}

.hero h1 {
    position: relative;
    z-index: 1;
}

/* HEADER */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 25px 50px;
    background: transparent;
    transition: all 0.4s ease;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    transition: 0.4s;
}

/* меню */
.nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    color: orange;
}

/* бургер */
.burger {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* ЕФЕКТ ШТОРКИ (після скролу) */
.header.scrolled {
    background: #1f2a1f;
    padding: 12px 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.header.scrolled .logo {
    width: 90px;
}

/*  MOBILE */
@media (max-width: 768px) {

    .nav {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: #1f2a1f;
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .nav a {
        margin: 15px 0;
    }

    .nav.active {
        display: flex;
    }

    .burger {
        display: block;
    }
}
