@import url("global.header.css");
@import url("global.footer.css");

@import url("galery.galery.css");
@import url("index.hero.aboutus.css");
@import url("index.services.css");
@import url("accomondation.rooms.css");
/* окремий клас для форми */
/*@import url("index.telephone.css");*/
/* окремий клас для backgound */
/* @import url("index.hero.bg.css")*/


/* Віддзеркалення по горизонталі */
.flip-h {
  transform: scaleX(-1);
}

/* Віддзеркалення по вертикалі */
.flip-v {
  transform: scaleY(-1);
}

/* Віддзеркалення по обох осях (180 градусів) */
.flip-both {
  transform: scale(-1, -1);
}













