@import url('global.header.css');
@import url('global.footer.css');
@import url('galery.galery.css');
@import url('index.hero.aboutus.css');
@import url('index.services.css');
@import url('accomondation.rooms.css');

.flip-h { transform: scaleX(-1); }
.flip-v { transform: scaleY(-1); }
.flip-both { transform: scale(-1, -1); }
