<!-- 7 СЛАЙДІВ -->
<div class="galery-slider">
    <div class="galery-slides" id="galery-slides">
        <img src="images/slide/slide1.jpg">
        <img src="images/slide/slide2.jpg">
        <img src="images/slide/slide3.jpg">
        <img src="images/slide/slide4.jpeg" alt="">
        <img src="images/slide/slide5.jpg">
        <img src="images/slide/slide6.jpg">
        <img src="images/slide/slide7.jpeg" alt="">
    </div>

    <div class="galery-buttons">
        <button onclick="galeryPrev()">❮</button>
        <button onclick="galeryNext()">❯</button>
    </div>
</div>

<!-- 12 ФОТО -->
<section class="galery-grid" id="galery-grid">
    <div class="galery-card">
        <img src="images/gallery/gallery1.webp" alt="Галерея 1">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery2.jpg" alt="Галерея 2">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery3.jpg" alt="Галерея 3">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery4.webp" alt="Галерея 4">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery5.webp" alt="Галерея 5">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery6.jpg" alt="Галерея 6">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery1.webp" alt="Галерея 7">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery2.jpg" alt="Галерея 8">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery3.jpg" alt="Галерея 9">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery4.webp" alt="Галерея 10">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery5.webp" alt="Галерея 11">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery6.jpg" alt="Галерея 12">
    </div>
     <div class="galery-card">
        <img src="images/gallery/gallery4.webp" alt="Галерея 10">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery5.webp" alt="Галерея 11">
    </div>
    <div class="galery-card">
        <img src="images/gallery/gallery6.jpg" alt="Галерея 12">
    </div>
</section>

<div class="galery-actions">
    <button id="show-all-gallery-btn" class="show-all-gallery-btn" type="button">Показати всі зображення</button>
</div>
