<!-- 7 СЛАЙДІВ -->
<div class="galery-slider">
    <div class="galery-slides" id="galery-slides">
        <img src="images/slide/slide1.jpg">
        <img src="images/slide/slide2.jpg">
        <img src="images/slide/slide3.jpg">
        <img src="images/slide/slide4.jpg">
        <img src="images/slide/slide5.jpg">
        <img src="images/slide/slide6.jpg">
        <img src="images/slide/slide7.jpg">
    </div>

    <div class="galery-buttons">
        <button onclick="galeryPrev()">❮</button>
        <button onclick="galeryNext()">❯</button>
    </div>
</div>

<!-- 6 ФОТО -->
<section class="galery-grid">
    <img src="images/gallery/gallery1.webp">
    <img src="images/gallery/gallery2.webp">
    <img src="images/gallery/gallery3.webp">
    <img src="images/gallery/gallery4.webp">
    <img src="images/gallery/gallery5.webp">
    <img src="images/gallery/gallery6.webp">
</section>
