<header class="header" id="main-header">
        <div class="header-container">
            <a href="#home" class="logo-link">
                <img src="images/logo-removebg-preview.png" class="logo" alt="Логотип">
            </a>

            <nav class="nav" id="nav-menu">
                <a href="#about">Про нас</a>
                <a href="#services">Послуги</a>
                <a href="#accomondation">Оренда житла</a>
                <a href="#contacts">Контакти</a>
            </nav>

            <button class="burger" id="burger-btn" type="button" aria-label="Відкрити меню" aria-expanded="false">☰</button>
        </div>
    </header>

   
