<header class="header">
    <div class="header-container">
        <a href="#home">
            <img src="images/logo-removebg-preview.png" class="logo" alt="Логотип">
        </a>

        <nav class="nav">
            <a href="#">Про нас</a>
            <a href="#">Послуги</a>
            <a href="#">Оренда житла</a>
            <a href="#">Контакти</a>
        </nav>

        <div class="burger">☰</div>
    </div>
</header>

<!-- Hero секція -->
<section id="home" class="hero">
    <h1>Ласкаво просимо</h1>
</section>


