<header class="header">
    <div class="header-container">
        <a href="#home">
            <img src="images/logo-removebg-preview.png" class="logo" alt="Логотип">
        </a>

        <nav class="nav">
            <a href="#about">Про нас</a>
            <a href="#services">Послуги</a>
            <a href="#blog">Блог</a>
            <a href="#contact">Контакти</a>
        </nav>

        <div class="burger">☰</div>
    </div>
</header>

<!-- Hero секція -->
<section id="home" class="hero">
    <h1>Ласкаво просимо</h1>
</section>
