<section id="home" class="hero">
    <div class="hero-content hero-content--form">
        <form class="hero-lead-form" action="#" method="post">
            <h1>Пригоди починаються в tamdegoru</h1>
            <p>Сплануйте свою наступну відпустку та насолоджуйтесь природою навколо вас</p>

            <input type="text" name="name" placeholder="Ім’я" aria-label="Ім’я">
            <input type="tel" name="phone" placeholder="Номер телефону" aria-label="Номер телефону">

            <button type="submit">ЗАМОВИТИ ДЗВІНОК</button>
        </form>
    </div>
</section>
