<section  id="services" class="services" aria-labelledby="services-title">
  <div class="services__container">

    <div class="services__header">
      <h2 id="services-title" class="services__title">Наші послуги</h2>
    </div>

    <ul class="services__list">

      <li class="services__item">
        <article class="services__card" style="background-image:url('images/services/hatakar1.jpg')">
          <h3 class="services__subtitle">🏡 Затишні будинки та кімнати</h3>
          <p class="services__description">Виберіть ідеальний будинок або кімнату для двох чи великої компанії.</p>
        </article>
      </li>

      <li class="services__item">
        <article class="services__card" style="background-image:url('images/services/snidanok2.jpg')">
          <h3 class="services__subtitle">🥐 Сніданки та харчування</h3>
          <p class="services__description">Домашня кухня з локальних продуктів або зона для приготування їжі.</p>
        </article>
      </li>

      <li class="services__item">
        <article class="services__card" style="background-image:url('images/services/progulyanka1.jpg')">
          <h3 class="services__subtitle">🌲 Прогулянки горами</h3>
          <p class="services__description">Маршрути до водоспадів та озер прямо від вашого будинку.</p>
        </article>
      </li>

      <li class="services__item">
        <article class="services__card" style="background-image:url('images/services/vidpochinok1.jpg')">
          <h3 class="services__subtitle">🚴 Активний відпочинок</h3>
          <p class="services__description">Веломандрівки, риболовля та катання на конях.</p>
        </article>
      </li>

      <li class="services__item">
        <article class="services__card" style="background-image:url('images/services/chan1.jpg')">
          <h3 class="services__subtitle">♨️ Спа та релакс</h3>
          <p class="services__description">Карпатський чан, сауна та масаж серед природи.</p>
        </article>
      </li>

      <li class="services__item">
        <article class="services__card" style="background-image:url('images/services/internet1.jpg')">
          <h3 class="services__subtitle">📶 Wi-Fi та робочі місця</h3>
          <p class="services__description">Стабільний інтернет і зручні робочі зони.</p>
        </article>
      </li>

    </ul>
  </div>
</section>
