<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="images/logohata.png" type="image/x-icon">
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>

    <!-- Головний CSS -->
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<!-- HEADER -->
<div 
    hx-get="partials/global.header.html"
    hx-trigger="load"
    hx-swap="innerHTML">
</div>

<!-- Підвантаження футера -->
<div 
    hx-get="partials/global.footer.html"
    hx-trigger="load"
    hx-swap="innerHTML">
</div>

<!-- JS -->
<script src="js/global.footer.js"></script>
<script src="js/global.footer.js"></script>

</body>
</html>










